@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ,
  html,
  body {
    font-family: "Open Sans", sans-serif;
    /* @apply antialiased bg-gray-50 */
  }
}
